body {
  margin: 0;
  padding: 0;
  background: #b8a99b;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 190vw ;
  height: 90vw;
  background-image: url('fundo.jpeg'); /* use o caminho certo */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.mensagem {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.saiba-mais {
  text-align: center;
}

.saiba-mais a {
  background-color: #007BFF;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
